###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    #"doc" = "!plg:doc"
@

tasks =[{}]

    build_billiard =[{}]

        src =[]
            ./src/Billiard.js
            ./src/SimplePoint.js
            ./src/CollisionResult.js
            ./src/TriangleData.js
            ./src/Ball.js
            ./src/Taco.js
            ./src/Game.js
        @

        out = ./build/Billiard.js
    @

    minify_billiard =[{}]

        src =[]
            ./build/Billiard.js
        @

        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/Billiard.min.js
    @

    build_nengine =[{}]

        src =[]
            ./src/NEngine/NEngine.js
            ./src/NEngine/utils/Clock.js
            #./src/NEngine/utils/Keyboard.js
            #./src/NEngine/geom/Angle.js
            ./src/NEngine/geom/Point.js
            #./src/NEngine/geom/Rectangle.js
            ./src/NEngine/geom/Matrix2D.js
            #./src/NEngine/events/Event.js
            #./src/NEngine/events/KeyboardEvent.js
            #./src/NEngine/events/MouseEvent.js
            #./src/NEngine/events/TouchEvent.js
            ./src/NEngine/display/DisplayObject.js
            ./src/NEngine/display/InteractiveObject.js
            ./src/NEngine/display/DisplayObjectContainer.js
            #./src/NEngine/display/Sprite.js
            ./src/NEngine/display/Stage.js
            ./src/NEngine/display/Color.js
            ./src/NEngine/display/Graphics.js
            ./src/NEngine/display/Shape.js
            ./src/NEngine/display/Bitmap.js
            #./src/NEngine/display/Rectangle.js
            #./src/NEngine/display/Circle.js
            #./src/NEngine/display/StaticText.js
            #./src/NEngine/display/BitmapSequence.js
            #./src/NEngine/display/SpriteSheet.js
            #./src/NEngine/controls/Button.js
            #./src/NEngine/controls/ImageButton.js
            #./src/NEngine/controls/Loader.js
            #./src/NEngine/controls/TextField.js
            #./src/NEngine/transitions/Tween.js
            #./src/NEngine/display/custom/NumberRectangle.js
            #./src/NEngine/display/custom/NumberBitmap.js
            #./src/NEngine/display/custom/Spirograph.js
        @

        out = ./build/NEngine.js
    @

    minify_nengine =[{}]

        src =[]
            ./build/NEngine.js
        @

        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/NEngine.min.js
    @
@
