###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    #"doc" = "!plg:doc"
@

tasks =[{}]

    build =[{}]

        src =[]
            ./src/Billiard.js
            ./src/SimplePoint.js
            ./src/CollisionResult.js
            ./src/TriangleData.js
            ./src/Ball.js
            ./src/Taco.js
            ./src/Game.js
        @

        out = ./build/Billiard.js
    @

    #minify =[{}]
    #
    #    src =[]
    #        ./build/Billiard.js
    #    @
    #
    #    # Minify the Package (map of lists)
    #    minify ={}
    #        # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
    #        uglifyjs =[]
    #            -m -c
    #        @
    #    @
    #
    #    out = ./build/Billiard.min.js
    #@

@
